.partner-feed-editor {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    border-radius: 7px;
    padding: 1rem;

    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-feed-editor input {
    border-radius: 5px;
    border: 1px solid #a3a3a3;
    outline: none;
    color: #333;
    width: 60%;
}

.partner-feed-editor h4 {
    color: #333;
    margin: 0;
}